body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #b4fe06, #4169e1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
h1 {
    color: #000000fa;
}
p{
    color: rgb(12, 11, 9);
}
.container {
    max-width: 400px;
}
.login-box {
    background-color: rgba(224, 69, 221, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-btn {
    background-color: #00ff2f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #720d14;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #ffffff;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}
